.backtop {
  @include box(100%, 100%);
  @include themeShadow(0 0 5px 1px #cecece, 0 0 5px 1px #000000);
  @include themeColor(#c2c2c2, #717171);
  background-color: var(--bl-html-color);
  text-align: center;
  line-height: 40px;
  border-radius: 8px;
  font-size: 25px;
  transform: rotate(-90deg);
  transition: color 0.3s;

  &:hover {
    color: var(--el-color-primary);
  }
}
