.index-article-root {
  @include box(100%, 100%);
  @include flex(row, flex-start, center);

  // 文档
  .doc-container {
    @include flex(column, flex-start, center);
    height: 100%;
    font-weight: 200;
    left: 0;
    top: 0;

    .doc-tree-menu-container {
      width: 100%;
    }

    .doc-temp-textarea {
      width: 100%;

      .doc-temp-textarea-workbench {
        color: var(--bl-editor-color);
        background-color: var(--bl-editor-gutters-bg-color);
        border-top: 1px solid var(--el-border-color);
        border-bottom: 1px solid var(--el-border-color);
        padding: 0 10px;
      }

      .doc-temp-textarea-input {
        overflow: hidden;

        :deep(.el-textarea__inner) {
          height: 130px;
        }
      }
    }
  }

  // 编辑器内容
  .editor-container {
    @include box(100%, 100%);
    position: relative;
    border-left: 1px solid var(--el-border-color);
    background-color: #FFFFFF00;

    $heightTools: 45px;
    $heightStatus: 28px;
    $heightEP: calc(100% - #{$heightStatus} - #{$heightTools});

    .editor-tools {
      @include box(100%, $heightTools);
    }

    .editor-preview {
      @include box(100%, $heightEP);
      @include flex(row, flex-start, center);
      border-top: 1px solid var(--el-border-color);
      position: relative;
      font-family: inherit;
      font-size: inherit;

      .gutter-holder {
        height: 100%;
        width: 50px;
        position: absolute;
        background-color: var(--bl-editor-gutters-bg-color);
        border-right: 1px solid var(--bl-editor-gutters-border-color);
        top: 0;
        left: 0;
        z-index: 1;
      }

      .editor-codemirror {
        @include box(50%, 100%);
        overflow: auto;
        z-index: 2;
        font-family: inherit;
        font-size: inherit;

        :deep(*) {
          font-family: inherit;
          font-size: inherit;
        }

        :deep(.cm-line) {
          caret-color: var(--bl-editor-caret-color) !important;
        }

        :deep(.cm-cursor) {
          border-color: var(--bl-editor-caret-color) !important;
        }

        :deep(.cm-focused) {
          outline: none;
        }

        // 选中内容的颜色
        :deep(.cm-selectionBackground) {
          background: var(--bl-editor-selection-bg-color);
        }
      }

      .resize-divider {
        height: 100%;
        border-left: 2px solid var(--el-border-color);
        margin-left: 1px;
        z-index: 3;
        cursor: ew-resize;

        &:hover {
          border-left: 2px dashed var(--el-color-primary) !important;
        }
      }

      .preview-marked {
        @include box(50%, 100%);
        overflow: scroll;
        word-wrap: break-word;
        padding: 10px 20px 0 20px;
        z-index: 3;
        font-family: inherit;
        font-size: inherit;

        :deep(.katex > *) {
          font-size: 1.2em !important;
          font-family: 'KaTeX_Size1', sans-serif !important;
          // font-size: 1.3em !important;
          // font-family: 'KaTeX_Math', sans-serif !important;
        }
      }
    }

    .editor-status {
      @include box(100%, $heightStatus);
      border-top: 1px solid var(--el-border-color);
      z-index: 2;
    }

    .bl-preview-toc-absolute.is-expand-open {
      @include box(310px, auto);
    }

    .bl-preview-toc-absolute.is-expand-close {
      @include box(150px, 40px);
    }
  }

}