.gray {
  background-color: #858585;
}

.gray.hl {
  background-color: #646464;
}

.red {
  background-color: #fb0036;
}

.red.hl {
  background-color: #c9002c;
}

.yellow {
  background-color: #d8a600;
}

.yellow.hl {
  background-color: #ffc400;
}

.blue {
  background-color: #00a3cb;
}

.blue.hl {
  background-color: #00657e;
}

.green {
  background-color: #339a00;
}

.green.hl {
  background-color: #2d8700;
}

.purple {
  background-color: #ad8cf2;
}

.purple.hl {
  background-color: #9665ff;
}