.book-summary {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    top: 0;
    left: -300px;
    bottom: 0;
    z-index: 1;
    overflow-y: auto;
    width: 300px;
    color: #364149;
    background: #fafafa;
    border-right: 1px solid rgba(0, 0, 0, .07);
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease
}

.book-summary ul.summary {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-transition: top .5s ease;
    -moz-transition: top .5s ease;
    -o-transition: top .5s ease;
    transition: top .5s ease
}

.book-summary ul.summary li {
    list-style: none
}

.book-summary ul.summary li.header {
    padding: 10px 15px;
    padding-top: 20px;
    text-transform: uppercase;
    color: #939da3
}

.book-summary ul.summary li.divider {
    height: 1px;
    margin: 7px 0;
    overflow: hidden;
    background: rgba(0, 0, 0, .07)
}

.book-summary ul.summary li i.fa-check {
    display: none;
    position: absolute;
    right: 9px;
    top: 16px;
    font-size: 9px;
    color: #3c3
}

.book-summary ul.summary li.done > a {
    color: #364149;
    font-weight: 400
}

.book-summary ul.summary li.done > a i {
    display: inline
}

.book-summary ul.summary li a, .book-summary {
    display: block;
    padding: 10px 15px;
    border-bottom: 0;
    color: #364149;
    background: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative
}

.book-summary ul.summary li a:hover {
    text-decoration: underline
}

.book-summary ul.summary li a:focus {
    outline: 0
}

.book-summary ul.summary li.active > a {
    color: #008cff;
    background: 0;
    text-decoration: none
}

.book-summary ul.summary li ul {
    padding-left: 20px
}

@media (max-width: 600px) {
    .book-summary {
        width: calc(100% - 60px);
        bottom: 0;
        left: -100%
    }
}

.book.with-summary .book-summary {
    left: 0
}

.book.without-animation .book-summary {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important
}

.book {
    position: relative;
    width: 100%;
    height: 100%
}

@media (min-width: 600px) {
    .book.with-summary .book-body {
        left: 300px
    }
}

@media (max-width: 600px) {
    .book.with-summary {
        overflow: hidden
    }

    .book.with-summary .book-body {
        -webkit-transform: translate(calc(100% - 60px), 0);
        -moz-transform: translate(calc(100% - 60px), 0);
        -ms-transform: translate(calc(100% - 60px), 0);
        -o-transform: translate(calc(100% - 60px), 0);
        transform: translate(calc(100% - 60px), 0)
    }
}

.book.without-animation .book-body {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important
}

.book-body {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: hidden;
    color: #000;
    background: #fff;
    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease
}

@media (max-width: 1240px) {
    .book-body {
        -webkit-transition: -webkit-transform 250ms ease;
        -moz-transition: -moz-transform 250ms ease;
        -o-transition: -o-transform 250ms ease;
        transition: transform 250ms ease;
        padding-bottom: 20px
    }
}

#book-search-input {
    padding: 6px;
    background: 0;
    transition: top .5s ease;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    border-top: 1px solid rgba(0, 0, 0, .07);
    margin-bottom: 10px;
    margin-top: -1px
}

#book-search-input input, #book-search-input input:focus, #book-search-input input:hover {
    width: 100%;
    background: 0;
    border: 1px solid transparent;
    box-shadow: none;
    outline: 0;
    line-height: 22px;
    padding: 7px 7px;
    color: inherit
}

a {
    text-decoration: none
}

body, html {
    height: 100%
}

html {
    font-size: 62.5%
}

body {
    margin: 0
}

body {
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: .2px;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

#reference {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px
}

.footer_link {
    margin-bottom: 45px
}

.line-through {
    text-decoration: line-through;
}