@font-face {
  font-family: 'ubuntu mono';
  src: url('./font/UbuntuMono-R-12.ttf');
  font-weight: normal;
  font-style: normal;
}

@import './element/popper';
@import './element/menu';
@import './mixin-fuc';
@import './iconfont';
