.container-name {
  @include font(20px, 700);
  @include themeColor(#5c5c5c, #a3a6ad);
  height: 60px;
  min-height: 60px;
  align-items: end !important;
  text-shadow: var(--bl-text-shadow);
}

.container-sub-name {
  @include font(13px, 300);
  @include themeColor(#ababab, #7e7e7e);
  height: 20px;
  min-height: 20px;
  text-shadow: var(--bl-text-shadow);

  .bl-statistic-line {
    font-size: 20px;
  }
  .bl-array-line {
    color: var(--bl-text-color-light);
    font-size: 17px;
    padding-bottom: 10px;
  }
  .bl-article-line {
    color: var(--bl-text-color-light);
    font-size: 17px;
    padding-bottom: 10px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
.bl-refresh-smile {
  font-size: 20px;
  margin: 0 10px;

  &:hover {
    animation: rotation 10s linear infinite;
    text-shadow: none;
  }
}

.iconbl {
  transition: color 0.3s;
  cursor: pointer;

  &:hover {
    color: var(--el-color-primary);
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bl-scroll-color);
  &:hover {
    background-color: var(--bl-scroll-color-hover);
  }
}
