html,
body {
  background-color: var(--bl-html-color);
  overflow: hidden;
}

* {
  font-family: 'Jetbrains Mono', sans-serif;
  box-sizing: border-box;
  user-select: none;
}

img {
  pointer-events: none;
}

/*
 用于 iconfont symbol 方式 icon 的基础样式 
 {@link @renderer/assets/iconfont/blossom}
 {@link @renderer/assets/iconfont/tech}
*/
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/** ================================== 滚动条 ================================== */
/* 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸 */
::-webkit-scrollbar {
  /* 滚动条宽度 */
  width: 5px;
  /* 滚动条高度 */
  height: 5px;
}

::-webkit-scrollbar:hover {
  width: 5px;
  height: 5px;
}

/* 定义滑块 内阴影+圆角 */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--bl-scrollbar-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--bl-scrollbar-color-hover);
}

/* 解决滚动条右下角出现白色方块 */
::-webkit-scrollbar-corner {
  background: transparent;
}

::selection {
  background: var(--el-color-primary-light-7) !important;
}
