<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blossom.backend.server.article.log.ArticleLogMapper">
    <select id="listAll" resultType="com.blossom.backend.server.article.log.pojo.ArticleLogEntity">
        select id,
               cre_time
         from blossom_article_log
        where article_id = #{articleId}
     order by cre_time desc
    </select>

    <delete id="delByIds">
        delete from blossom_article_log
         where article_id in <foreach collection="articleIds" item="item" open="(" close=")" separator=",">#{item}</foreach>
    </delete>
</mapper>