.el-dialog {
  --el-dialog-border-radius: 8px !important;
  --el-dialog-padding-primary: 0 !important;
  --el-dialog-bg-color: var(--bl-dialog-bg-color) !important;
  --el-dialog-box-shadow: var(--bl-dialog-box-shadow) !important;

}
