@font-face {
  font-family: "iconbl"; /* Project id 4118609 */
  src: url('iconfont.woff2?t=1700052803565') format('woff2'),
       url('iconfont.woff?t=1700052803565') format('woff'),
       url('iconfont.ttf?t=1700052803565') format('truetype');
}

.iconbl {
  font-family: "iconbl" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bl-a-boxsubtract-line:before {
  content: "\ea4d";
}

.bl-a-boxaddition-line:before {
  content: "\ea4e";
}

.bl-heat-map:before {
  content: "\e65f";
}

.bl-Heatmap:before {
  content: "\e63f";
}

.bl-heatmap:before {
  content: "\e600";
}

.bl-check:before {
  content: "\e6b8";
}

.bl-statistic-line:before {
  content: "\ea48";
}

.bl-win-reset:before {
  content: "\e602";
}

.bl-pen:before {
  content: "\e921";
}

.bl-computer-line:before {
  content: "\ea46";
}

.bl-a-fixedposition-line:before {
  content: "\ea47";
}

.bl-a-boxchoice-line:before {
  content: "\e9d8";
}

.bl-a-boxdownload-line:before {
  content: "\ea4a";
}

.bl-flag-line:before {
  content: "\ea4b";
}

.bl-a-flowchart1-line:before {
  content: "\ea4c";
}

.bl-a-morecross-line:before {
  content: "\ea49";
}

.bl-fanqiezhong:before {
  content: "\e618";
}

.bl-file-pdf:before {
  content: "\e7b8";
}

.bl-file-markdown:before {
  content: "\e7b9";
}

.bl-HTML:before {
  content: "\e87d";
}

.bl-archive-line:before {
  content: "\e60f";
}

.bl-file-zip-line:before {
  content: "\e66a";
}

.bl-file-download-line:before {
  content: "\e65e";
}

.bl-file-upload-line:before {
  content: "\e666";
}

.bl-folder-download-line:before {
  content: "\e66b";
}

.bl-download--line:before {
  content: "\e701";
}

.bl-qr-code-line:before {
  content: "\e719";
}

.bl-upload--line:before {
  content: "\e72e";
}

.bl-a-statisticalviewpiechart2-line:before {
  content: "\ea2e";
}

.bl-a-statisticalviewpiechart3-line:before {
  content: "\ea2f";
}

.bl-github:before {
  content: "\e72a";
}

.bl-a-archivecatalogue-line:before {
  content: "\e9d6";
}

.bl-a-labellist-line:before {
  content: "\ea2d";
}

.bl-correlation-line:before {
  content: "\ea25";
}

.bl-a-relation1-line:before {
  content: "\ea28";
}

.bl-a-relation2-line:before {
  content: "\ea2b";
}

.bl-a-relation3-line:before {
  content: "\ea2c";
}

.bl-a-pageadd-line:before {
  content: "\ea22";
}

.bl-a-pagelevel-line:before {
  content: "\ea23";
}

.bl-a-templatelist2-line:before {
  content: "\ea45";
}

.bl-a-colorpalette-line:before {
  content: "\ea1b";
}

.bl-date-line:before {
  content: "\ea24";
}

.bl-a-packageadd-line:before {
  content: "\ea26";
}

.bl-a-templateadd-line:before {
  content: "\ea44";
}

.bl-a-addline-line:before {
  content: "\e9d4";
}

.bl-a-leftdirection-line:before {
  content: "\ea17";
}

.bl-a-leftdirection-fill:before {
  content: "\ea18";
}

.bl-record-line:before {
  content: "\ea19";
}

.bl-send-line:before {
  content: "\ea21";
}

.bl-a-IDcardfront-line:before {
  content: "\ea14";
}

.bl-note-line:before {
  content: "\ea15";
}

.bl-reader-line:before {
  content: "\ea16";
}

.bl-tiaoxingma:before {
  content: "\e812";
}

.bl-a-barcode-line:before {
  content: "\e9d5";
}

.bl-folding-line:before {
  content: "\ea13";
}

.bl-refresh-smile:before {
  content: "\e64f";
}

.bl-sendmail-line:before {
  content: "\ea20";
}

.bl-a-historicalrecord-line:before {
  content: "\ea12";
}

.bl-books-line:before {
  content: "\ea10";
}

.bl-a-cloudstorage-line:before {
  content: "\ea0f";
}

.bl-sd-line:before {
  content: "\ea1a";
}

.bl-a-texteditorstickup-line:before {
  content: "\ea43";
}

.bl-calendar-line:before {
  content: "\e9db";
}

.bl-a-folderset-line:before {
  content: "\ea0e";
}

.bl-delete-line:before {
  content: "\e9e1";
}

.bl-a-online-line:before {
  content: "\ea0b";
}

.bl-problem-line:before {
  content: "\ea0c";
}

.bl-a-radiochoose-line:before {
  content: "\ea0d";
}

.bl-a-rightto-line:before {
  content: "\ea11";
}

.bl-switch-line:before {
  content: "\ea40";
}

.bl-a-underline-line:before {
  content: "\ea41";
}

.bl-a-doubleunderline-line:before {
  content: "\ea09";
}

.bl-a-doubleonline-line:before {
  content: "\ea0a";
}

.bl-a-texteditorback-line:before {
  content: "\ea3a";
}

.bl-a-texteditorsuperscript-line:before {
  content: "\ea3b";
}

.bl-a-texteditorsubscript-line:before {
  content: "\ea3c";
}

.bl-a-texteditorforward-line:before {
  content: "\ea3e";
}

.bl-a-underbox-line:before {
  content: "\ea3f";
}

.bl-a-icon_jiandaojianqie:before {
  content: "\e650";
}

.bl-jianpan-xianxing:before {
  content: "\e8ce";
}

.bl-admonish-line:before {
  content: "\e9d2";
}

.bl-a-eyeclose-line:before {
  content: "\ea01";
}

.bl-a-fileadd-fill:before {
  content: "\ea02";
}

.bl-a-listview-line:before {
  content: "\ea08";
}

.bl-login-circle-line:before {
  content: "\e70e";
}

.bl-logout-circle-line:before {
  content: "\e71a";
}

.bl-a-Securitypermissions-line:before {
  content: "\ea1e";
}

.bl-a-servercloud-line:before {
  content: "\ea1f";
}

.bl-user-line:before {
  content: "\ea3d";
}

.bl-effect-line:before {
  content: "\e9e3";
}

.bl-expansion-line:before {
  content: "\e9ec";
}

.bl-eye-line:before {
  content: "\e9ee";
}

.bl-a-Informationquestions-line:before {
  content: "\e9ff";
}

.bl-like-line:before {
  content: "\e9fe";
}

.bl-read-line:before {
  content: "\ea07";
}

.bl-search-line:before {
  content: "\ea1c";
}

.bl-a-texteditorpastetext-line:before {
  content: "\ea37";
}

.bl-transcript-line:before {
  content: "\ea38";
}

.bl-transcript-fill:before {
  content: "\ea39";
}

.bl-a-computerend-line:before {
  content: "\e9fd";
}

.bl-cloud-fill:before {
  content: "\e9e4";
}

.bl-a-lowerrightpage-line:before {
  content: "\e9f9";
}

.bl-a-lowerrightpage-fill:before {
  content: "\e9fa";
}

.bl-model-fill:before {
  content: "\e9fb";
}

.bl-model-line:before {
  content: "\e9fc";
}

.bl-a-filetext-line:before {
  content: "\e9f7";
}

.bl-a-folderon-line:before {
  content: "\e9f8";
}

.bl-a-linkspread-line:before {
  content: "\e9f6";
}

.bl-planet-line:before {
  content: "\ea05";
}

.bl-a-qrcode1-line:before {
  content: "\ea06";
}

.bl-a-filechoose-line:before {
  content: "\e9f1";
}

.bl-a-filehistory-line:before {
  content: "\e9f2";
}

.bl-a-filelink-line:before {
  content: "\e9f3";
}

.bl-a-fileswitch-line13:before {
  content: "\e9f4";
}

.bl-a-fileseal-line:before {
  content: "\e9f5";
}

.bl-a-clock3-line:before {
  content: "\e9e5";
}

.bl-a-fileadd-line:before {
  content: "\e9e6";
}

.bl-a-filecycle-line:before {
  content: "\e9e7";
}

.bl-a-fileedit-line:before {
  content: "\e9e8";
}

.bl-a-filemedal-line:before {
  content: "\e9e9";
}

.bl-a-fileprohibit-line:before {
  content: "\e9ea";
}

.bl-a-filesend-line:before {
  content: "\e9eb";
}

.bl-a-fileminus-line:before {
  content: "\e9ef";
}

.bl-a-filestar-line:before {
  content: "\e9f0";
}

.bl-pen-line:before {
  content: "\ea03";
}

.bl-sendmail-fill:before {
  content: "\ea1d";
}

.bl-star-fill:before {
  content: "\ea29";
}

.bl-star-line:before {
  content: "\ea2a";
}

.bl-a-switchoff-line:before {
  content: "\ea35";
}

.bl-a-switchon-line:before {
  content: "\ea36";
}

.bl-a-rightsmallline-line:before {
  content: "\ea99";
}

.bl-add-line:before {
  content: "\e9d3";
}

.bl-a-cloudrefresh-line:before {
  content: "\e9e2";
}

.bl-tally-line:before {
  content: "\ea31";
}

.bl-a-texteditorsave-line:before {
  content: "\ea34";
}

.bl-adhibition-line:before {
  content: "\e9d1";
}

.bl-wifi-line:before {
  content: "\ea42";
}

.bl-a-clouddownload-line:before {
  content: "\e9dc";
}

.bl-a-cloudchoose-line:before {
  content: "\e9dd";
}

.bl-cloud-line:before {
  content: "\e9de";
}

.bl-a-cloudupload-line:before {
  content: "\e9e0";
}

.bl-task-line:before {
  content: "\e675";
}

.bl-layout-column-line:before {
  content: "\e638";
}

.bl-bold:before {
  content: "\e678";
}

.bl-italic:before {
  content: "\e679";
}

.bl-heading:before {
  content: "\e67a";
}

.bl-indent-increase:before {
  content: "\e67b";
}

.bl-double-quotes-r:before {
  content: "\e67c";
}

.bl-list-unordered:before {
  content: "\e67d";
}

.bl-link-m:before {
  content: "\e67e";
}

.bl-indent-decrease:before {
  content: "\e67f";
}

.bl-separator:before {
  content: "\e680";
}

.bl-list-ordered:before {
  content: "\e681";
}

.bl-code-view:before {
  content: "\e682";
}

.bl-strikethrough:before {
  content: "\e683";
}

.bl-single-quotes-r:before {
  content: "\e684";
}

.bl-table-:before {
  content: "\e685";
}

.bl-image--line:before {
  content: "\e6d3";
}

.bl-apps-line:before {
  content: "\e6ed";
}

.bl-refresh-line:before {
  content: "\e713";
}

.bl-copy-line:before {
  content: "\e9df";
}

.bl-bug-line:before {
  content: "\e9da";
}

.bl-shrink-line:before {
  content: "\ea27";
}

.bl-subtract-line:before {
  content: "\ea30";
}

.bl-box-line:before {
  content: "\e9d9";
}

.bl-a-closeline-line:before {
  content: "\e2ec";
}

.bl-a-home1-line:before {
  content: "\e9ed";
}

.bl-a-package2-line:before {
  content: "\ea00";
}

.bl-picture-line:before {
  content: "\ea04";
}

.bl-a-texteditorhighlightcolor-line:before {
  content: "\ea32";
}

.bl-tier-line:before {
  content: "\ea33";
}

