
@font-face {
  font-family: 'Jetbrains Mono';
  src: url('@renderer/assets/fonts/JetBrainsMono-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Jetbrains Mono';
  src: url('@renderer/assets/fonts/JetBrainsMono-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Jetbrains Mono';
  src: url('@renderer/assets/fonts/JetBrainsMono-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Jetbrains Mono';
  src: url('@renderer/assets/fonts/JetBrainsMono-Light.woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Jetbrains Mono';
  src: url('@renderer/assets/fonts/JetBrainsMono-ExtraLight.woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Jetbrains Mono';
  src: url('@renderer/assets/fonts/JetBrainsMono-Thin.woff2');
  font-weight: 100;
  font-style: normal;
}