/* * {
  font-family: 'ubuntu mono', 'Consolas', 'Monaco', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  box-sizing: border-box;
} */

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--bl-html-color);
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
}

/** ================================== 滚动条 ================================== */
/* 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* 定义滑块 内阴影+圆角 */
::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
}

/* 滚动条右下角出现白色方块 */
::-webkit-scrollbar-corner {
  background: transparent;
}
