.popper-dark {
  --el-popover-padding: 10px 0;
  --el-popover-bg-color: #2B2D30;
  --el-popover-border-color: none;
  --el-box-shadow-light: 5px 5px 10px 0px rgb(25, 25, 25);
  width: auto !important;
}
